
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{
    width: auto;
    min-height: 100vh;
    background: #F8F9FA;
}

/* .background{
   background-image: url(../../assets/—Pngtree—3d\ rendering\ diamond\ texture\ decoration_7437710.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}  */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.image-container .overlay-text {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.overlay-text input{
    padding: 10px 40px;
}

.overlay-text button{
    background-color: #07BC97;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.overlay-text button:hover{
    background-color: #4F46E5;
}

.home-inforamation{
    margin-top: -6px;
    display: flex;
    justify-content: space-between;
}

.home-inforamation ul{
    border-top: 1px solid orange;
    flex: 1;
    list-style: none;
    text-align: center;
}

.home-inforamation li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    padding: 10px 40px;
    font-weight: 200;
}

.diavan-help{
    margin-top: 50px;
}

.diavan-help-left{
    width: 66%;
    color: #2D5477;
}

.diavan-help-left h2{
    width: 80%;
    font-size: 48px;
}

.highlight{
    color: #05A1BD;
    background: #F8F9FA;
}

.diamond-icon{
    background-color: white;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    border-radius: 15px;
    padding: 10px 10px;
}

.diavan-help-left button{
    padding: 5px 10px 5px 5px;
    margin-left: 1px;
    background-color: #6366F1;
    color: white;
    border: 1px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}

.diavan-help-left button:hover{
    background-color: #190b5b;
}

.home-feedback{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
    
}

.feedback-list{
    padding: 40px 32px;
    margin: 0 0 0 16px;
    border-radius: 25px;
    width: 33%;
}

.rate{
    color: #4F46E5;
}

.feedback-title{
    color: #2D5477;
    font-weight: bolder;
    margin: 0 0 10px;
}

.feedback-comment{
    font-size: 18px;
    color: #2D5477;
    font-weight: 700;
    margin: 0 0 16px;
}

.feedback-author{
    color: #0B735C;
    font-size: 18px;
    font-weight: 700;
}
