
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{
    width: 100vw;
    min-height: 100vh;
    background: #F8F9FA;
}

/* .background{
   background-image: url(../../assets/—Pngtree—3d\ rendering\ diamond\ texture\ decoration_7437710.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}  */


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.image-container .overlay-text {
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.overlay-text input{
    padding: 10px 40px;
}

.overlay-text button{
    background-color: #07BC97;
    color: white;
    margin-left: 10px;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.overlay-text button:hover{
    background-color: #4F46E5;
}

