.header{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
}
.icon-success{
    color: green;
}

.subtitle{
    font-style: italic;
    font-size: 20px;
    margin: 20px 0px;
}

.list-infor{
    font-size: 18px;
    font-weight: 500;
    background-color: #f8f9fa;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 45px;
    width: 35%;
    display: inline-block;
    text-align: left;
    padding: 10px 40px;
    margin-bottom: 60px;
}

.list-infor ul{
    list-style: none;
}
.list-infor ul li{
    margin: 40px 0;
}